{% load static %}

<!-- The chartjs library should already be loaded somewhere else in your HTML, if it has not been
	loaded anywhere else, then place it below -->

<canvas id="{{ chart_name }}" width="400" height="150"></canvas>

<script>
    var ctx = document.getElementById("{{ chart_name }}").getContext("2d");

    var {{ chart_name }} = new Chart(ctx, {
        type: "{{ chart_type }}",
        data: JSON.parse("{{ data | escapejs }}"),
        options: JSON.parse("{{ options | escapejs }}")
    })
</script>